@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000080;
  --clr-1: #ffffff;
  --clr-2: rgba(255, 255, 255, 0.25);
}

body {
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-1);
}
