.container {
    padding: 0.5% 6%;
  }
  
  .title {
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    padding: 4rem 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
  }

  @media(max-width: 720px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
