.card{

}

.image{
    width: 250px;
    height: 240px;
    border-radius: 25px;
}

.card h2{
    font-size: small;
}

@media(max-width: 720px) {

    .card h2{
        font-size: xx-small;
    }

    .image{
        width: 150px;
        height: 150px;
    }
    
}